"粗筛/amazon_data/**" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs/run3_1.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs/run3_1_embed2_yiqichu.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs/train/runs/2025-11-12/02-16-51/train.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs/train/runs/2025-11-12/02-21-10/train.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs/train/runs/2025-11-12/02-21-25/train.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_beauty_qwen_rqkmeans_duibi/run3_1_10_hierarchies.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_beauty_qwen_rqkmeans_duibi/run3_1_6_hierarchies.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_beauty_qwen_rqkmeans_duibi/run3_1_8_hierarchies.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_beauty_qwen_rqkmeans_duibi/run_3_1_mask.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_qwen/run3_1.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_qwen_0.5B/run3_1.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_qwen_0.5B_rqvae/run3_1.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_qwen_0.5B_toys/run3_1.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_qwen_0.5B_toys_rqvae/run3_1.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_qwen_rqvae/run3_1.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_qwen_rqvae_toys/run3_1_embed2.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_qwen_rqvae_toys/run3_1_embed2_yiqichu.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_qwen_rqvae_toys/run3_1_mlp_version.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_qwen_toys/run3_1.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_qwen_toys/run3_1_embed2.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_qwen_toys/run3_1_embed2_yiqichu.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_qwen_toys/run3_1_mlp_version.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_T5_rqvae/run3_1.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_T5_rqvae/run3_1_embed2.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_T5_rqvae/run3_1_embed2_yiqichu.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_T5_rqvae/run3_1_mlp_version.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_T5_rqvae_toys/run3_1.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_T5_rqvae_toys/run3_1_embed2.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_T5_rqvae_toys/run3_1_embed2_yiqichu.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_T5_toys/run3_1.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_toys_qwen_rqkmeans_duibi/run3_1_5_hierarchies.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_toys_qwen_rqkmeans_duibi/run3_1_7_hierarchies.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/logs_toys_qwen_rqkmeans_duibi/run3_1_9_hierarchies.log" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/nohup.out" filter=lfs diff=lfs merge=lfs -text
"粗筛/log/nohup1.out" filter=lfs diff=lfs merge=lfs -text
"粗筛/notices.txt" filter=lfs diff=lfs merge=lfs -text
